<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
                        <!--<PatternLayout pattern="%d %highlight{%p} %style{%logger}{bright,cyan} %C{1.} %msg%n"/>-->
<!--            <PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>-->
<!--
            <PatternLayout pattern="%d [%t] %highlight{%-5level {FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}} %throwable{short.methodName}  %logger{36} - %msg%n"/>
-->
<!--            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level: %msg %throwable{short.methodName}}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}  %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level  %logger{36}-%M - %msg%n"/>
        </Console>
<!--       <File name="LogToFile" fileName="log/safetynetApplication.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.}-%M [%t] %m%n</Pattern>
            </PatternLayout>
        </File>-->
        <RollingFile
                name="LogToFile"
                fileName="log/safetynetApplication.log"
                filePattern="log/safetynetApplication%d{yyyy-MM-dd}-%i.log"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.}-%M [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
 <!--       <RollingFile  name="LogToFile" fileName="log/safetynetApplication.log" filePattern="log/safetynetApplication%d{yyyy-MM-dd}-%i.log">
             <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
          <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>-->
    </Appenders>
    <Loggers>
        <Logger name="com.safetynet.safetynetalerts" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
           <AppenderRef ref="LogToFile"/>
        </Logger>

        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>

    </Loggers>
</Configuration>