<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"  xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="LoggerFile"
              class="org.apache.log4j.DailyRollingFileAppender"> <!-- file appender-->
        <param name="File"
               value="log/safetynetalert.log" />
<!--        <param name="MaxFileSize" value="1000KB" />
        <param name="MaxBackupIndex" value="2" />-->
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name = "threshold"
                value="warn" /> <!-- Select mini level error for this appender-->
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-8p [%t]:%C.%M - %m%n" />
        </layout>
    </appender>
    <appender name="console" class="org.apache.log4j.ConsoleAppender"> <!-- Spring console appender -->
        <param name="Target" value="System.out" />
        <param name = "threshold"
               value="all" /> <!-- Select mini level error for this appender-->
        <!--         <layout class="org.apache.log4j.SimpleLayout" />-->
       <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ HH:mm:ss.SSS} : %C.%M - %-8p - %m%n" />
        </layout>
    </appender>
    <root>
        <level value="all" /> <!-- Select mini level error-->
        <appender-ref ref="LoggerFile" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
